.idea
*.pyc
__pycache__/
build/
dist/
*.egg-info/
*.log
examples/*
!examples/AMBER/
examples/AMBER/*
!examples/AMBER/README.md
!examples/AMBER/mmpbsa.in
!examples/AMBER/*.prmtop
!examples/AMBER/*.inpcrd
!examples/AMBER/*.mdcrd
