.idea
*.pyc
__pycache__/
build/
dist/
*.egg-info/
*.log
examples/*
!examples/AMBER/
examples/AMBER/*
!examples/AMBER/README.md
!examples/AMBER/mmpbsa.in
!examples/AMBER/*.prmtop
!examples/AMBER/*.inpcrd
!examples/AMBER/*.mdcrd
!examples/API/
!examples/API/README.md
!examples/API/COMPACT_MMXSA_RESULTS.mmxsa
!examples/API/extract_api_data.py
!examples/API/gb_delta_total.csv
.vscode/settings.json
